[Unit]
Description=Initializes Pacman data base
Requires=etc-pacman.d-gnupg.mount
After=pacman-init.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/pacman -Syy --noconfirm --color=auto

[Install]
WantedBy=multi-user.target
